{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <h2>{{ object }}</h2>
    <h3>{{ object.cart }}</h3>

    <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Изменить статус" class="btn btn-success">
            <input type="button" value="К списку заказов" onclick="history.back();" class="btn btn-info">
    </form>

    <table class="table table-striped">
        <tr>
            <th>Книга</th>
            <th>Авторы</th>
            <th>Количество</th>
            <th>Цена за шт.</th>
        </tr>
        {% for product in object.cart.user_cart.all %}
            <tr>
                <td>
                    {{ product.book.name }}
                </td>
                <td>
                    {% for author in product.book.author.all %}
                        {{ author }}<br>
                    {% endfor %}
                </td>
                <td>
                    {{ product.quantity }}
                </td>
                <td>
                    {{ product.book.price }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <table class="table">
        <tr>
            <th>Дата создания заказа:</th>
            <td>{{ object.created_day }}</td>
        </tr>
        <tr>
            <th>Дата обновления статуса:</th>
            <td>{{ object.updated_date }}</td>
        </tr>
        <tr>
            <th>Общая сумма заказа:</th>
            <td>{{ object.cart.total_cart_price }}</td>
        </tr>
        <tr>
            <th>Общее количество книг:</th>
            <td>{{ object.cart.books_in_cart_count }}</td>
        </tr>
        <tr>
            <th>Адрес доставки:</th>
            <td>
                {% if object.delivery_adress %}
                        {{ object.delivery_adress }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>{{ object.email }}</td>
        </tr>
        <tr>
            <th>Телефон:</th>
            <td>{{ object.phone }}</td>
        </tr>
    </table>
</div>
{{ canceled }}
{% endblock %}