{% extends "base.html" %}

{% block title %}
    <title>Издательство</title>
{% endblock %}

{% block nav_dymamic %}
        <a href="{% url 'publish-create-view' %}" class="btn btn-outline-success text-light" role="button" aria-pressed="true"><img src="https://img.icons8.com/small/20/000000/plus.png"> Создать</a>
{% endblock %}

{% block content %}
</br>
<div class="d-flex justify-content-center">
    <table class="table table-striped w-75">
        <tr>
            <th>Наименование</th>
            <th>Страна</th>
            <th>Город</th>
            <th>Действия</th>
        </tr>
    {% for object in object_list %}
        <tr>
            <th>{{ object.name }} </a></th>
            <td>{{ object.country }}</td>
            <td>{{ object.city }}</td>
            <td>
                <a href="{% url 'publish-detail-view' object.pk %}"><img src="https://img.icons8.com/ios-glyphs/20/000000/info.png">  </a>
                <a href="{% url 'publish-update-view' object.pk %}"><img src="https://img.icons8.com/ios-glyphs/20/000000/edit.png">  </a>
                <a href="{% url 'publish-delete-view' object.pk %}"><img src="https://img.icons8.com/ios-glyphs/20/000000/delete-sign.png">  </a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}

